span,p,h1,h2,h3,h4,h5 {
	color: #5e2214;
	font-family: Arial; 
}
button {
	border-radius: 10px;
	background-color: #E27676;
	border: none;
	color: #5e2214;
	padding-right: 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	color: #5e2214;
}
button:hover {
	background-color: #FF0114;
}
body {
	background-image:  url("/static/flag.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.video {
	width:  100%;
	height: 400px;
}
.center {
	text-align: center;
}
@media screen and (max-width: 600px) {
	.button-top {
		height: 35%;
		padding: 25% 10px;
		width: 100%;
	}
	.button-bottom {
		height: 35%;
		padding: 25% 10px;
		width: 100%;
	}
	.header {
		font-size:  30px;
		text-align: center;
	}
	.fullscreen {
		height: 100%;
		padding: 45% 10px;
		width: 100%;
	}
	.img {
		width: 200px;
		height: 200px;
	}
	.question-img {
		width: 100px;
		height: 75px;
	}
}
@media screen and (min-width: 600px) {
	.button-top {
		height: 35%;
		padding: 6% 10px;
		width: 100%;
	}
	.button-bottom {
		height: 35%;
		padding: 6% 10px;
		width: 100%;
	}
	.header {
		font-size:  40px;
		text-align: center;
	}
	.fullscreen {
		height: 100%;
		padding: 15% 10px;
		width: 100%;
	}
	.img {
		width: 300px;
		height: 300px;
	}
	.question-img {
		width: 200px;
		height: 150px;
	}
}
