<!DOCTYPE html>
<html>
	<head>
		<title>The CCP Social Credit Test</title>
		<link rel="stylesheet" type="text/css" href="/static/quiz-styles.css">
		<link rel="shortcut icon" href="/static/favicon.png">
	</head>
	<body>	
		<div id="body" onmouseover="playaudio()">
			<div id="startdiv">
				<p class="header">The CCP Social Credit Test</p>
				<button class="fullscreen" onclick="begin()">Begin</button>
			</div>
			<div id="options" hidden>
				<p class="header" id="question">Question #: #</p>
				<button class="button-top" id="a1" onclick="a1()">#</button><br>
				<button class="button-bottom" id="a2" onclick="a2()">#</button>
			</div>
			<div id="im" hidden>
				<div id="ims">
				</div>
				<button onclick="next()" class="button-bottom">Next</button>
			</div>
			<div id="end" hidden>
				<p class="header" id="credits">You finished with social credit!</p>
				<video controls id="badending" class="video" hidden>
					<source src="/static/badending.mp4" type="video/mp4">
					Your browser does not support HTML video.
				</video>
				<p>Made by <a href="https://twitter.com/silavtuber">Sila</a>.</p>
			</div>
		</div>
		<span id="buffer" hidden></span>
		<audio id="sound" volume="0.3">
			<source src="/static/song.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
        	<script>
	        	let q = 0;
	        	let res = 0;
	        	let ans = 0;
	        	let score = 0;
	        	function playaudio(){
	        		document.getElementById("sound").play();
	        	}
	        	function begin(){
	        		document.getElementById("startdiv").hidden = true;
	        		getq(q);
	        		document.getElementById("options").hidden = false;
	        	}
	        	function getq(q1){
	        		xhr = new XMLHttpRequest();
	        		xhr.onload=function(){
	        			document.getElementById("buffer").innerHTML=xhr.responseText;
	        			fillform();
	        		}
	        		xhr.open("GET", "/question?index="+q1.toString(), true);
	        		xhr.send();
	        	}
	        	function fillform(){
	        		if (document.getElementById("buffer").innerHTML.charAt(0)==="["){
	        			data = JSON.parse(document.getElementById("buffer").innerHTML);
	        			res=data[0];
	        			ans=data[1][2];
	        			document.getElementById("a1").innerHTML=data[1][0];
	        			document.getElementById("a2").innerHTML=data[1][1];

	        			document.getElementById("question").innerHTML=`Question ${(q+1).toString()}: ${addims(data[1][3])}`;
	        		} else {
	        			fillform();
	        		}
	        	}
	        	function addims(t){
	        		const imgregex = /#.*\.png#/g;
	        		matches = t.match(imgregex);
	        		if (matches == null){
	        			return t;
	        		} else {
	        			return t.replace(imgregex, `<img class="question-img" src="/static/${matches[0].replace("#", "")}">`);
	        		}
	        	}
	        	function a1(){
	        		if (ans == 0){
	        			score += res;
	        			document.getElementById("options").hidden = true;
	        			document.getElementById("ims").innerHTML = `<img class="img" src="/static/${res.toString()}.png">`
	        			document.getElementById("im").hidden = false;
	        		} else {
	        			score -= res;
	        			document.getElementById("options").hidden = true;
	        			document.getElementById("ims").innerHTML = `<img class="img" src="/static/-${res.toString()}.png">`
	        			document.getElementById("im").hidden = false;
	        		}
	        	}
	        	function a2(){
	        		if (ans == 1){
	        			score += res;
	        			document.getElementById("options").hidden = true;
	        			document.getElementById("ims").innerHTML = `<img class="img" src="/static/${res.toString()}.png">`
	        			document.getElementById("im").hidden = false;
	        		} else {
	        			score -= res;
	        			document.getElementById("options").hidden = true;
	        			document.getElementById("ims").innerHTML = `<img class="img" src="/static/-${res.toString()}.png">`
	        			document.getElementById("im").hidden = false;
	        		}
	        	}
	        	function next(){
	        		if (q == 4){
	        			if (score == 166665) {
	        				document.getElementById("im").hidden = true;
	        				document.getElementById("end").hidden = false;
	        				document.getElementById("goodending").hidden=false;
	        				document.getElementById("credits").innerHTML=`You have ${score.toString()} social credits.`
	        			} else {
	        				document.getElementById("im").hidden = true;
	        				document.getElementById("end").hidden = false;
	        				document.getElementById("badending").hidden=false;
	        				document.getElementById("credits").innerHTML=`You have ${score.toString()} social credits.`
	        			}
	        		} else {
	        			q ++;
	        			getq(q)
	        			document.getElementById("im").hidden = true;
	        			document.getElementById("options").hidden = false;
	        		}
	        	}
       		</script>
	</body>
</html>
