<!DOCTYPE html>
<html>
	<head>
		<title>Social Credit test</title>
		<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
		<link rel="shortcut icon" href="/static/favicon.png">
	</head>
	<body>
		<div class="center"><p class="header">Social Credit Test</p></div>
		<button class="fullscreen" onclick="begin()">Begin</button>
        <script>
		window.onload = function(){
			var audio = new Audio('/static/Dehang Zhang - Ching Chang Hon Chi.mp3');
			audio.play();
		}
        </script>
	</body>
</html>